.mat-menu-panel{
  max-width: 100vw !important;
}

/*------------- TEMP PLEASE REMOVE-------------------------*/

.popover{

}

.mat-dialog-container > cdk-focus-trap, .mat-dialog-container > cdk-focus-trap > .cdk-focus-trap-content{
  height: 100%; width: 100%; display: flex;
}

.mat-dialog-container > cdk-focus-trap, .mat-dialog-container{
  padding: 0 !important;
}

/*------------- TEMP PLEASE REMOVE-------------------------*/


md-card-content md-card-subtitle{
  margin-bottom: 0;
}


.mat-menu-panel.notification-menu{
  .mat-menu-content{
    md-tab-group{
      md-tab-header{
        .mdl-badge.mdl-badge--overlap{
          md-icon{
            margin-top: 18px;
          }
        }
        .mdl-badge.mdl-badge--overlap:after {
          right: -10px;
          top: 8px;
          width: 20px;
          height: 20px;
        }
      }
    }
    padding: 0;
    md-list{
      h3.mat-subheader{
        text-align: center !important;
      }
      md-list-item{
        .mat-list-item-content{
          height: 38px;
          .mat-list-text{
            >button{
              font-size: 13px;
              &.inactive{
                font-weight: normal;
                color: #666666;
              }
            }

          }
        }

      }
    }
  }

}
