@import "../../scss/core";

:host{
  .mdl-badge.mdl-badge--overlap {
    md-icon{
      margin-top: 8px;
      margin-left: 8px;
    }
  }
  .mdl-badge.mdl-badge--overlap:after {
    background: $warn !important;
    color: white;
    right: -8px;
    top: -16px;
    font-size: 14px;
    width: 20px;
    height: 20px;
    animation: sonar 1s 3;
  }

  .notification-menu{
    md-list{
      >h3.mat-subheader{
        text-align: center !important;
      }
      >md-list-item{
        >span{
          font-size: 14px;
        }
      }
    }
  }
}



@keyframes pulse {
  0% {transform: scale(1);}
  20% {transform: scale(1.4); }
  50% {transform: scale(.9);}
  80% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

@keyframes sonar {
  0% {transform: scale(.2); opacity:0;}
  20% {transform: scale(.7); opacity:.2;}
  50% {transform: scale(1.5); opacity:.5;}
  80% {transform: scale(1.2); opacity:.7;}
  100% {transform: scale(1);opacity: 1;}
}
