<button md-icon-button [mdMenuTriggerFor]="menu" (onMenuOpen)="whenMenuOpen()">
      <span class="mdl-badge mdl-badge--overlap" [attr.data-badge]="count.notification > 0 ? count.notification : null">
        <md-icon *ngIf="count.notification + count.activity > 0">notifications</md-icon>
        <md-icon *ngIf="count.notification + count.activity < 1">notifications_none</md-icon>
      </span>
</button>
<md-menu #menu="mdMenu" class="notification-menu" [classList]="'notification-menu'" [overlapTrigger]="false">
  <md-tab-group [selectedIndex]="0" (click)="$event.stopPropagation()">
    <md-tab  label="Notifications">
      <template md-tab-label>
        <div class="mx-1" fxLayout="row" fxLayoutAlign="space-around center">
          <span class="mdl-badge mdl-badge--overlap" [attr.data-badge]="count.notification > 0 ? count.notification : null">
            <md-icon>notifications</md-icon>
          </span>
          Notifications</div>
      </template>
      <md-list>
        <!--<h3 md-subheader>Folders</h3>-->
        <span *ngFor="let notification of notifications; let index = index;">
          <md-list-item>
            <button [ngClass]="{'inactive': notification.inActive}" (mouseover)="markInactive(notification)" md-button md-line>
              <md-icon>info</md-icon> {{notification.message}}
            </button>
            <button md-icon-button [mdMenuTriggerFor]="notifyOption"><md-icon color="accent">more_vert</md-icon></button>
            <md-menu #notifyOption="mdMenu">
              <button md-button (click)="remove(notification)"><small>Remove Notification</small></button>
            </md-menu>
          </md-list-item>
          <md-divider class="mx-2"></md-divider>
        </span>

        <!--<md-list-item>
          <md-icon>note</md-icon>
          <span md-line> Catalogue No #004has been confirmed by Gauan </span>
        </md-list-item>-->
      </md-list>
    </md-tab>
  <md-tab label="Activities">
    <template md-tab-label>
        <div class="mx-1" fxLayout="row" fxLayoutAlign="space-around center">
          <span class="mdl-badge mdl-badge--overlap" [attr.data-badge]="count.activity > 0 ? count.activity : null">
            <md-icon>trending_up</md-icon>
          </span>
          Activities
        </div>
      </template>
        <span *ngFor="let activity of activities; let index = index;">
          <md-list-item>
            <button [ngClass]="{'inactive': activity.inActive}" (mouseover)="markActivityInactive(activity)" md-button md-line>
              {{activity.message}}
            </button>
            <button md-icon-button [mdMenuTriggerFor]="notifyOption"><md-icon color="accent">more_vert</md-icon></button>
            <md-menu #notifyOption="mdMenu">
              <button md-button (click)="removeActivity(activity)"><small>Remove Notification</small></button>
            </md-menu>
          </md-list-item>
          <md-divider class="mx-2"></md-divider>
        </span>
    <md-card-subtitle *ngIf="activities.length < 1"></md-card-subtitle>
  </md-tab>
</md-tab-group>
<button *ngIf="notifications.length > 0" class="w-100" md-button md-button color="primary">View More</button>
</md-menu>
