<md-select (onClose)="onSelect()" placeholder="---Select Options---" [(ngModel)]="selectedValue" trigger="click" #select>
  <md-option *ngFor="let option of options" [value]="option.value">
    {{ option.name }}
  </md-option>
</md-select>
<!--<md-icon (click)="select.open()" color="warn">cancel</md-icon>-->
