.errors{
  position: absolute;
  margin-top: 30px;
  z-index: 1;
  max-height: 20vh;
  //overflow: hidden;

  md-chip{
    margin: 0 0 2px !important;
    line-height: 8px;
    background-color: rgb(255, 246, 168) !important;
    border: 1px solid #FF9800;
    color: #795548 !important;
    &.success{

    }
    button{
      line-height: 24px;
      height: 24px;
      width: 24px;
      margin: 0 0 0 .5em;
      md-icon{
        line-height: 14px;
        font-size: 14px;
        height: 16px;
        width: 16px;
      }
    }
  }

}

$alice-blue: #F8FAFB;
$pattens-blue: #DDE5EA;
$link-water: #C9D2D7;
$pattens-blue: #D4DDE3;
$echo-blue: #A6B5CB;
$hit-grey: #99A5A6;
