<md-chip-list class="errors md-chip-list-stacked">
  <md-chip class="p-1 success" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let error of errors" [@onError]="error" selected="true">
    <md-icon class="mr-2">info</md-icon>{{error.message}}
    <button color="warn" (click)="removeError(error)" md-icon-button>
      <md-icon>cancel</md-icon>
    </button>
  </md-chip>
</md-chip-list>
