<div class="input-group">
  <div fxLayout="column" fxFlex>
    <label>Broker Billing Address</label>
    <div fxLayout="row">
    <input fxFlex *ngIf="selectedObject" type="text" [value]="selectedObject[options.keyParam]" readonly class="form-control">
    <input fxFlex *ngIf="selectedObject" type="text" [value]="selectedObject[options.valParam]" readonly class="form-control">
    <input fxFlex *ngIf="selectedObject == undefined" type="text" readonly placeholder="Select something" class="form-control">
      <!--<input type="text" readonly class="form-control">-->
    <button md-icon-button (click)="openPopup($event)"><md-icon>search</md-icon></button>
  </div>
  </div>
</div>
