<div fxLayout="row" fxLayoutAlign="center" (keypress)="onKeyDown($event)">
  <input readonly navigation="select" (click)="date.toggle()" class="form-control" placeholder="yyyy-mm-dd"
         name="dp" [(ngModel)]="selectedDate" ngbDatepicker #date="ngbDatepicker">
  <button color="primary" md-icon-button (click)="date.toggle()"><md-icon>date_range</md-icon></button>
</div>

