:host{
  height: inherit;
  background-image: url(app/login/leaf.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50%;
  md-card{
    max-width: 40%;

    md-card-header{
      .md-card-header-text{
        margin-left: 0;
      }
      md-icon{
        margin-right: .5em;
      }
    }

    .input-container{
      margin-bottom: 1em;
    }
    md-input-container{
      min-width: 90%;
    }
  }
}
