<div fxFlex fxLayout="column" fxLayoutAlign="center center" fxFlexFill>

  <form fxFlexFill fxLayoutAlign="center center">
    <md-card fxFlex="40">
      <md-card-content fxFlex>
        <md-card-subtitle fxLayoutAlign="start center"><md-icon class="mr-4" color="primary">lock</md-icon> Please Login...</md-card-subtitle>
        <form-loader *ngIf="_loading"></form-loader>
        <md-divider class="mb-4"></md-divider>
        <div fxFlex fxLayoutAlign="space-between center">
          <md-icon color="primary">perm_identity</md-icon>
          <md-input-container>
            <input autofocus tabindex="1" mdInput placeholder="User Name">
          </md-input-container>
        </div>

        <div fxFlex fxLayoutAlign="space-between center">
          <md-icon color="primary">vpn_key</md-icon>
          <md-input-container>
            <input tabindex="2" type="password" mdInput placeholder="Password">
          </md-input-container>
        </div>
      </md-card-content>
      <md-card-actions fxLayoutAlign="end center">
        <button tabindex="3" (click)="login()" md-button color="primary">Login</button>
      </md-card-actions>
    </md-card>
  </form>

</div>
