@import "../core/ui-component/scss/core";

:host{
  height: 100%;
  display: flex;
  flex-direction: column;

  > md-toolbar{
    position: absolute;
    z-index: 10;
    //box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.12), 0px 7px 24px 2px rgba(0, 0, 0, 0.12), inset 0px 4px 20px 2px rgba(0,0,0,.12);
  }
  div.content{
    padding: 85px 1.5em 1.5em 1.5em !important;
    overflow: scroll;
  }

  md-sidenav{
    padding-top: 64px;
    background-color: #FCFCFE;

    md-list{
      md-list-item{
        height: 40px;
        color: #6e6e6e;
        [md-button]{
          font-size: 12px;
        }
        md-icon{
          font-size: 18px;
          height: 15px;
          width: 25px;
        }
        /deep/ .md-list-text{
          font-size: 12px;
          padding-left: .5em;
        }
      }
      md-list-item.active-route{
        color: $accent;
      }
    }
  }

  md-sidenav-container{
    md-sidenav{
      min-width: 200px;
    }
  }
}
