<md-toolbar class="mat-elevation-z6" color="primary">
  <div fxFlex="80"><h6>TEMS (Tea Export & Management System)</h6></div>
  <div fxFlex fxLayoutAlign="end center">
    <!--<toolbar-notification></toolbar-notification>-->
    <toolbar-notify></toolbar-notify>
    <logout></logout>
  </div>
</md-toolbar>

<md-sidenav-container fxFlexFill>
  <md-sidenav mode="side" opened="true" class="mat-elevation-z4">
    <!-- sidenav content -->
    <md-list>
        <span *ngFor="let menu of menuItems">
          <h3 md-subheader>{{ menu.header }}</h3>
          <md-list-item [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-route" fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of menu.items">
            <md-icon fxLayout="row" fxLayoutAlign="start center" md-list-avatar>{{ item.icon }}</md-icon>
            <a md-button [routerLink]="item.link">{{ item.display }}</a>
          </md-list-item>
          <md-divider></md-divider>
        </span>

    </md-list>
  </md-sidenav>

  <!-- primary content -->
  <div class="content" fxFlex fxFlexFill>
    <router-outlet fxFlex fxLayoutGap="1em"></router-outlet>
  </div>

</md-sidenav-container>


<!--<md-card fxLayout="column" fxFlex="100">

    <md-card-title>
      <h5 class="md-card-header-text" fxLayout="row" fxLayoutAlign="space-between center">Invoice New
        &lt;!&ndash;<button md-icon-button (click)="dataGrid.loading()"><md-icon>close</md-icon></button>&ndash;&gt;
        &lt;!&ndash;<button md-icon-button (click)="dataGrid.loaded()"><md-icon>close</md-icon></button>&ndash;&gt;
        <button md-icon-button (click)="openDialog()"><md-icon>print</md-icon></button>
      </h5>
    </md-card-title>

  <md-card-content fxLayout="column" fxFlex="100">
    &lt;!&ndash;<form-loader></form-loader>&ndash;&gt;
    <md-card fxLayout="column" fxFlexFill>

      <md-card-subtitle>
        Invoice Details
      </md-card-subtitle>

      <md-card-content fxlayout="column" fxFlex>

        <div fxLayout="row"  fxflex="50">
          <div fxLayout="column" fxFlex>
            <md-input-container>
              <input md-input placeholder="Invoice ID" value="1000">
            </md-input-container>
            <md-input-container>
              <input md-input placeholder="Broker Name" value="Sushi">
            </md-input-container>
            <md-input-container>
              <input md-input placeholder="Invoice ID" value="Sushi">
            </md-input-container>
          </div>
          <div fxLayout="column" fxFlex>
            <md-input-container>
              <input md-input placeholder="Invoice ID" value="1000">
            </md-input-container>
            <md-input-container>
              <input md-input placeholder="Broker Name" value="Sushi">
            </md-input-container>
            <md-input-container>
              <input md-input placeholder="Invoice ID" value="Sushi">
            </md-input-container>
          </div>
        </div>

        &lt;!&ndash;<div fxLayout="column" fxflex="50" fxLayoutAlign="start scratch" style="background-color: antiquewhite;">asdasdasda</div>&ndash;&gt;


      </md-card-content>

      &lt;!&ndash;<md-card-subtitle>
        Invoice Lines
      </md-card-subtitle>
      <md-card-content>
        hi
      </md-card-content>&ndash;&gt;

      <md-card-actions fxLayoutAlign="end center">
        <button md-button>SAVE</button>
        <button md-button>RESET</button>
        <button md-button>CANCEL</button>
      </md-card-actions>
    </md-card>

    &lt;!&ndash;<md-card fxflex>

    </md-card>&ndash;&gt;


    &lt;!&ndash;<p-dataTable [value]="data | async">
      <p-column field="id" header="Vin" [sortable]="true" [editable]="true"></p-column>
      <p-column field="userId" header="Year"></p-column>
      <p-column field="title" header="Brand" [editable]="true"></p-column>
      <p-column field="body" header="Color"></p-column>
      <p-column field="id" header="Color"></p-column>
    </p-dataTable>&ndash;&gt;

    &lt;!&ndash;<table class="table">
      <tr *ngFor=" let item of data | async ">
        <td>{{ item.id }}</td>
        <td>{{ item.userId }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.body }}</td>
        <td>{{ item.id }}</td>
      </tr>
    </table>&ndash;&gt;



  </md-card-content>



</md-card>-->
<!--
<md-card class="card-demo" >
  <md-card-title> <a href="http://jsfiddle.net/tndgvkfq/" target="_blank">JsFiddle</a></md-card-title>
  <md-card-subtitle>Grid with column spans calculated using '<span style="color: #333333">flex: &lt;grow&gt; &lt;shrink&gt; calc(&lt;...&gt;);</span>' expressions.</md-card-subtitle>
  <md-card-content>

  </md-card-content>
  <md-card-footer class="bottomPad">
    <div class="hint" >Note: each cell has 'margin-left:10px' so the 'calc( )' expressions must account for those.</div>
  </md-card-footer>
</md-card>
-->
