<md-card fxFlex="100" fxflexfill [ngClass]="{'headerless': gridOptions.headerLess}">
  <md-card-header *ngIf="!gridOptions.headerLess" fxLayout="row" fxFlex>
    <div fxLayout="column" fxFlex fxLayoutAlign="space-between center">
      <div class="area-1" fxLayout="row" fxLayoutGap="5px" fxFlexFill fxFlex fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
          <md-card-title><h5>Its a Long grid title</h5></md-card-title>
        </div>
        <div class="grid-tools" fxLayout="row" fxLayoutAlign="space-around center">
          <app-filter [fields]="filterFields" (onSelect)="applyFilter($event)"></app-filter>

          <button color="primary" md-icon-button>
            <md-icon>print</md-icon>
          </button>

          <button color="primary" *ngIf="selectedRowCount > 0" (click)="deleteSelectedRows()" md-icon-button>
            <span class="mdl-badge mdl-badge--overlap" attr.data-badge="{{selectedRowCount}}">
              <md-icon>delete</md-icon>
            </span>
          </button>
          <button color="primary" *ngIf="changedData.length > 0" (click)="saveChangedRows()" md-icon-button>
            <span class="mdl-badge mdl-badge--overlap" attr.data-badge="{{changedData.length}}">
              <md-icon>save</md-icon>
            </span>
          </button>

          <!--<button (click)="insertRow()" md-icon-button>
            <md-icon>add</md-icon>
          </button>-->

          <button color="primary" (click)="removeErrors()" md-icon-button>
            <md-icon>refresh</md-icon>
          </button>
          <button color="primary" (click)="pushError()" md-button>
            <md-icon>add</md-icon> Add Item
          </button>
        </div>
      </div>
    </div>

  </md-card-header>
  <md-card-content>
    <grid-error-container [errors]="validationErrors"></grid-error-container>
    <form-loader *ngIf="loadPanel">Please Wait...</form-loader>
    <ag-grid-ng2 #agGridNg2 [gridOptions]="gridOptions" [rowData]="rowData" fxflexfill
                 class="ag-material"></ag-grid-ng2>
  </md-card-content>
  <md-card-footer *ngIf="!gridOptions.headerLess" fxLayout="row" fxLayoutAlign="end center">
    <!--<ngb-pagination [collectionSize]="70" [(page)]="page"></ngb-pagination>-->
  </md-card-footer>
</md-card>


