@import '~@angular/material/core/theming/_all-theme.scss';
@import "../scss/core";

//$primary: map-get($md-deep-purple, 500);
//$accent: map-get($md-amber, 500);

:host{
  will-change: box-shadow;
  display: flex;
  position: relative;
  border-radius: 2px;
  min-height: 400px;
  height: calc(100%);

  > md-card{
    height: calc(100%);
    //padding-left: 0;
    //padding-right: 0;
    margin: 1px;
    //padding: 1em 0 0 0;

    > md-card-header{
      height: auto;

      > div.mat-card-header-text{
        width: 0 !important;
      }

      /*.area-1, .area-2{
        min-height: 40px;
        height: 40px;
      }*/

      .grid-tools{
        > button{
          margin: 0 .5em;
        }
        > button:last-child{
          margin: 0;
        }
      }
    }

    > md-card-content{
      height: calc(100% - 100px); width: 100%;

      > ag-grid-ng2{
        //height: calc(100vh);
        height: inherit;
        width: 100%;
        font-size: 12px;

        /deep/ {
          .ag-cell:first-child{
            overflow: visible !important;
          }
          .ag-cell-not-inline-editing{
            padding-top: 0;
            line-height: 40px;
          }
          .ag-row-hover{
            background-color: rgba($accent, 0.28) !important;
            //border: 1px solid $primary;
            //border-left: 4px solid $primary;
          }
          .ag-row-hover:before{
            border-left: 4px solid $primary;
          }
          .ag-row-level-0.ag-cell-focus{
            border-color: green !important;
          }
          .ag-cell-focus{
            border: 0;
            border-bottom: 1px solid #d3d3d3;
            //border: 1px solid $primary;
            //box-shadow: 0 3px 1px -2px rgba(103, 58, 183, 0.2), 0 2px 2px 0 rgba(103, 58, 183, 0.14), 0 1px 5px 0 rgba(103, 58, 183, 0.12);
            //transform: translate3d(0,0,0);
            //transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
          }
          .ag-row-selected:before{
            border-left: 4px solid $primary;
            width: 5px; height: 20px;
          }
          .ag-row-selected{
            background-color: rgba($accent, 0.18);
          }
          .ag-scrolls .ag-row:last-child .ag-cell{
            border-bottom: none !important;
          }


        }


      }
    }

    md-card-footer{
      ngb-pagination{
        //margin-right: 2em;
        /deep/ {
          li.page-item.active{
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            transform: translate3d(0,0,0);
            transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
            a.page-link{
              color: white;
              background-color: $primary;
            }
          }
          li.page-item{
            a.page-link{
              color: $primary;
            }
          }
        }

      }
    }
  }

  md-card.headerless{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: #eceeef;
    border: 1px solid rgba(158, 158, 158, 0.44);
    box-shadow: none;
    > md-card-content {
      height: 100%;
      width: 100%;
    }
    /deep/ {
      .ag-header{
        border-bottom: 1px solid rgba(158, 158, 158, 0.44);
      }
    }
  }

  .md-button-wrapper {
    md-icon:after{
      left: 15px !important;
      top: -15px !important;

    }
  }
}

.mdl-badge.mdl-badge--overlap:after {
  background: $warn !important;
  color: white;
  right: -8px;
  top: -16px;
  font-size: 10px;
  width: 15px;
  height: 15px;
}


.mdl-badge{
  md-icon{
    line-height: 42px;
  }
}

[md-button], [md-raised-button]{
  height: 30px;
  line-height: 30px;
}

input.md-input-element{
  border-bottom: 3px solid transparent;
}


.page-item.active{
  .page-link{
    background-color: $primary !important;
    border-color: $primary !important;
  }
}


