@import '~@angular/material/core/theming/all-theme';

/*
@include md-core();

$primary: md-palette($md-teal);
$accent: md-palette($md-blue);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);

.dark-theme {
  $dark-p: md-palette($md-teal, 700);
  $dark-a: md-palette($md-blue-grey);

  $dark-t: md-dark-theme($dark-p, $dark-a);

  @include angular-material-theme($dark-t);
}
*/
