<div class="loader" fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="center" fxFlex>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h4><ng-content></ng-content></h4><md-spinner class="spinner"></md-spinner>
  </div>

</div>
