.loader{
  background-color: rgba(255, 255, 255, 0.74);
  width: 100%;
  height: 100%;
}

.loader .spinner{
  height: 50px !important;
}

:host{
  height: 100%;
  position: absolute;
  z-index: 1;
}

md-spinner > svg{
  height: 50px !important;


}

md-spinner path{
  stroke-width: 1px !important;
}
