@import '~@angular/material/core/theming/_all-theme.scss';
@import '../../../../theme';

$defaultBorder: #A4A7A9;
$defaultBorderSub: #D1D3D4;

$primary: map-get($mat-deep-purple, 500);
$accent: map-get($mat-light-blue, 500);
$warn: map-get($mat-deep-orange, 500);

$success: map_get($mat-light-green, 500);
