@import "../scss/core";

:host{
  .input-group{
    > .input-group-btn{
      > button {
        padding: 0;
        /* border-left: 0px; */
        border: 1px solid #a4a7a9;
        border-radius: 0;
        border-left: 0px;
      }

      /*> md-menu{
        > md-card{
          padding: 0;
        }
      }*/
    }
  }
}

input{
  //height: 30px;
  border-radius: 0 !important;
  border-color: $defaultBorder !important;
}

input:focus{
  border-color: $primary !important;
}

.field > button, .filter > button{
  border: 1px solid $defaultBorder;
  border-left-color: $defaultBorderSub;
}

.field > button md-icon, .filter > button md-icon{
  margin-left: .3em;
}

