
  <div class="input-group">

  <span fxLayout="row" fxLayoutAlign="center" fxFlex>
    <!--single value fields-->
    <input (keyup)="renderFilter(i.value)" #i placeholder="Search..." type="{{getTypeDef(selectedField)}}" class="form-control">
  </span>

    <div class="input-group-btn">
      <!--<button type="submit" (click)="appendMenu()" md-icon-button>
        <md-icon>filter_list</md-icon>
      </button>-->
        <button md-button [mdMenuTriggerFor]="mainMenu" >
        Filter <md-icon>tune</md-icon>
      </button>
      <md-menu  #mainMenu="mdMenu" [overlapTrigger]="false">
        <div (click)="appendMenu($event)" fxFlex fxLayout="column" class="p-2 px-4">
          <div class="input-group">
              <span fxLayout="row" fxLayoutAlign="center" fxFlex [ngSwitch]="selectedFilter.value">
                <!--single value fields-->
                <input (keyup)="renderFilter(i.value)" #i placeholder="Search..." *ngSwitchCase="filterType.EQUAL" type="{{getTypeDef(selectedField)}}" class="form-control">
                <input (keyup)="renderFilter(i.value)" #i placeholder="Search..." *ngSwitchCase="filterType.CONTAINS" type="{{getTypeDef(selectedField)}}" class="form-control">
                <input (keyup)="renderFilter(i.value)" #i placeholder="Search..." *ngSwitchCase="filterType.GREATER_THAN" type="{{getTypeDef(selectedField)}}" class="form-control">
                <input (keyup)="renderFilter(i.value)" #i placeholder="Search..." *ngSwitchCase="filterType.LESS_THAN" type="{{getTypeDef(selectedField)}}" class="form-control">

                <!--Dual value fields-->
                <div *ngSwitchCase="filterType.BETWEEN" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px" fxFlex>
                  <input type="{{getTypeDef(selectedField)}}" class="form-control">
                  <input type="{{getTypeDef(selectedField)}}" class="form-control">
                </div>

                <!--Range value fields-->
                <div *ngSwitchCase="filterType.IN" fxLayout="row" fxLayoutAlign="center" fxFlex>
                  <input type="{{getTypeDef(selectedField)}}" class="form-control">
                  <input type="{{getTypeDef(selectedField)}}" class="form-control">
                </div>
              </span>
              <div class="input-group-btn field">
                <button type="button" [mdMenuTriggerFor]="fieldMenu" md-button class="btn btn-secondary">
                  {{selectedField ? (selectedField.visibleName ? selectedField.visibleName: selectedField.name) : ''}} <md-icon color="accent">view_headline</md-icon>
                </button>
                <md-menu #fieldMenu="mdMenu">
                  <button type="button" md-menu-item *ngFor="let field of fields" (click)="selectField(field)">
                    {{field.visibleName ? field.visibleName: field.name}}
                  </button>
                </md-menu>
              </div>
              <div class="input-group-btn filter">
              <button type="button" [mdMenuTriggerFor]="filterMenu" md-button class="btn btn-secondary">
                {{selectedFilter.name}} <md-icon color="accent">tune</md-icon>
              </button>
              <md-menu #filterMenu="mdMenu">
                <button type="button" (click)="selectFilter(filterDef)" *ngFor="let filterDef of filterDefs" md-menu-item>{{filterDef.name}}</button>
              </md-menu>
            </div>
              <div class="input-group-btn filter">
                <button type="button" md-button class="btn btn-secondary" (click)="renderFilter(i.value)">
                  Apply <md-icon color="accent">filter</md-icon>
                </button>
              </div>
            </div>
            <md-divider class="mt-4 mb-2" ></md-divider>
              <app-filter-viewer *ngIf="appliedFilters.length > 0" class="area-2" [filters]="appliedFilters"
                    (onRemove)="removeFilter($event)" fxLayout="row" fxFlexFill></app-filter-viewer>
            <md-divider class="mt-2 mb-2" *ngIf="appliedFilters.length > 0"></md-divider>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <button md-button color="warn" (click)="xxx()">Clear Filters</button>
              <div fxLayout="row" fxLayoutAlign="space-around center">
                <button md-button color="primary" (click)="mainMenu.closeMenu()">Ok</button>
              </div>

            </div>
        </div>
      </md-menu>
    </div>
  </div>

