@import "../../scss/core";

:host > div{
  /*min-height: 40px;
  line-height: 40px;
  height: 40px !important;*/
  md-chip{
    padding: 4px 12px !important;
    font-size: 11px !important;


    button{
      line-height: 16px;
      height: 16px;
      width: 16px;
      md-icon{
        line-height: 14px;
        font-size: 14px;
        height: 16px;
        width: 16px;
      }
    }
  }
}



md-chip.md-chip-selected:not(.md-basic-chip).md-primary{
  background-color: rgba(255,255,255,.87) !important;
  color:  $accent !important;
  border: 1px solid $accent !important;
}
