<div fxLayout="row" fxLayoutGap="10px" fxFlexFill fxFlex fxLayoutAlign="start center" class="filters-applied">
  <strong>Filters: </strong>
  <md-chip-list>
    <md-chip *ngFor="let filter of filters" [@filter]="filter" selected="true" color="accent" class="m-1">
      {{ filter.field.name }} {{ filter.filterType.name }} {{filter.filter.value}}
      <button (click)="remove(filter)" md-icon-button><md-icon>cancel</md-icon></button></md-chip>
  </md-chip-list>
</div>
