<md-card fxFlex (keydown)="onKeyChange($event)">
  <md-card-header fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <md-card-subtitle><h5>Select some</h5></md-card-subtitle>
      <span fxLayout="row" fxLayoutAlign="space-around center">
        <app-filter [fields]="popupOptions.filters" (onSelect)="onFilterChange($event)"></app-filter>
        <button class="ml-2" color="primary" (click)="createNew()" md-button>
          <md-icon>add</md-icon> Add Item
        </button>
      </span>

    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <!--<grid-filter-viewer [filters]="filters" (onRemove)="removeFilter()"></grid-filter-viewer>-->
    </div>

  </md-card-header>
  <md-card-content fxFlex>
    <form-loader *ngIf="_loading" fxFlex></form-loader>
    <ag-grid-ng2 #agGridNg2 [gridOptions]="gridOptions" [rowData]="rowData" fxFlex fxFlexFill
                 class="ag-material"></ag-grid-ng2>
  </md-card-content>
  <md-card-actions fxLayoutAlign="end center">
    <button (click)="cancel()" md-button color="primary">Cancel</button>
    <button (click)="apply()" md-button color="primary">Apply</button>
  </md-card-actions>
</md-card>
