<md-card fxFlex fxLayout="column" fxLayoutAlign="space-between">
  <!--<md-card-header fxLayout="row" fxLayoutAlign="space-between center">
    <md-card-title fxLayout="row" fxLayoutAlign="space-between center"><md-icon>note_add</md-icon><h5>Create Invoice</h5></md-card-title>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button md-icon-button><md-icon>print</md-icon></button>
    </div>
  </md-card-header>-->
  <md-card-content>
      <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
        <md-card-title>
          <h4 fxLayout="row" fxFlex fxLayoutAlign="start center" fxLayoutGap="5px"><md-icon class="mr-2">note_add</md-icon>Create Invoice</h4>
        </md-card-title>
        <button color="accent" md-icon-button><md-icon>print</md-icon></button>
      </div>
      <md-divider class="mb-4"></md-divider>
      <div fxLayout="row" fxFlex fxLayoutAlign="space-around start">
        <div fxLayout="column" fxFlex fxLayoutAlign="start start">
          <md-card-subtitle><h6>Shipping</h6></md-card-subtitle>
          <input-combo class="w-50" [options]="comboOptions"></input-combo>
        </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="start start">
          <md-card-subtitle><h6>Invoice Details</h6></md-card-subtitle>
          <div fxLayout="row" fxFlexFill fxLayoutGap="10px">
            <div class="form-group" fxLayout="column" fxLayoutAlign="space-between start" fxFlex>
              <label>Invoice Date</label>
              <input type="text" (click)="invDate.open()" ngbDatepicker #invDate="ngbDatepicker" class="form-control" placeholder="dd/mm/yyyy">
            </div>
            <div class="form-group" fxLayout="column" fxLayoutAlign="space-between start" fxFlex>
              <label>Invoice Due Date</label>
              <input type="text" (click)="dueDate.open()" ngbDatepicker #dueDate="ngbDatepicker" class="form-control" placeholder="dd/mm/yyyy">
            </div>
          </div>
          <div fxLayout="row" fxFlexFill fxLayoutGap="10px">
            <div class="form-group" fxLayout="column" fxLayoutAlign="space-between start" fxFlex>
              <label>Invoice Number</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group" fxLayout="column" fxLayoutAlign="space-between start" fxFlex>
              <label>Po Number</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div fxLayout="row" fxFlexFill fxLayoutGap="10px">
            <div class="form-group" fxLayout="column" fxLayoutAlign="space-between start" fxFlex>
              <label>Currency</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group" fxLayout="column" fxLayoutAlign="space-between start" fxFlex>
              <label>Delivery Note No</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <md-divider class="mb-4"></md-divider>
      <md-card-subtitle><h6>Items</h6></md-card-subtitle>
      <data-grid style="height: 300px" #dataGrid [gridOptions]="gridOptions" [dataSource]="dataSource" fxLayout="column" fxflex class="ag-material"></data-grid>
      <strong>
        <a color="accent" md-button fxLayout="row" class="mt-2 mb-4 pl-0" fxLayoutAlign="start center" (click)="dataGrid.insertRow()">
          <md-icon>add</md-icon>New Invoice Line
        </a>
      </strong>
      <md-divider></md-divider>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-4">
        <textarea placeholder="Special Notes" fxFlex="70" fxFlexFill class="form-control invoice-description"></textarea>
        <div fxFlex="30" class="jumbotron p-4 ml-4 my-0" fxLayout="column" fxLayoutAlign="space-between start">
          <span class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
            <strong>Net Total</strong>
            <strong>{{ invoiceSummery.total | currency: 'LKR': true }}</strong>
          </span>
          <span class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
            <small>Discounts</small>
            <small>{{ invoiceSummery.discount | currency: 'LKR': true }}</small>
          </span>
          <span class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
            <h4 class="my-2">Total</h4>
            <h4 class="my-2">{{ invoiceSummery.total - invoiceSummery.discount | currency: 'LKR': true }}</h4>
          </span>
        </div>
      </div>
  </md-card-content>
  <md-card-actions fxLayout="row" fxLayoutAlign="end center">
    <button color="accent" md-button>Reset</button>
    <button md-raised-button color="primary">Save</button>
  </md-card-actions>
</md-card>
