@import "../../../scss/core";

:host {
  md-icon{
    //position: absolute;
    margin-left: -8px;
    z-index: 2;
    //margin-top: 5px;
    &.success{
      color: white;
      //background-color: white;
      //border-radius: 50%;
    }
  }
}

:host-context(.ag-cell:first-child){
  overflow: visible;
}

.my-menu{
  background-color: aqua;
}
