<md-checkbox color="accent" [disableRipple]="true" (change)="toggleSelectRow($event)" [checked]="params.node.selected"></md-checkbox>


<!--<md-icon mdTooltipPosition="right"
         [mdMenuTriggerFor]="menu"
         mdTooltip="Click To See Errors" color="warn" [@animateMessage]="true" class="success">check_circle</md-icon>-->
<!--<div [@animateMessage]="true" style="height: 30px; width: 300px; background-color: #8BC34A; color: white; position: absolute; z-index: 1; line-height: 30px;
    display: flex;
    border-radius: 0 25px 25px 0;">
  <md-icon class="success m-1">check_circle</md-icon>Saved...</div>
<md-menu class="my-menu" #menu="mdMenu" (click)="click($event)">
  <ul>
    <li>This is first error because of this This is first error because of this</li>
    <li>This is first error because of this This is first error because of this</li>
    <li>This is first error because of this This is first error because of this</li>
    <li>This is first error because of this This is first error because of this</li>
    <li>This is first error because of this This is first error because of this</li>
    <li>This is first error because of this This is first error because of this</li>
  </ul>
</md-menu>-->
