<button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>more_vert</md-icon></button>
<md-menu #menu="mdMenu">
  <button (click)="removeRow()" md-menu-item><md-icon class="mr-2">delete</md-icon>Remove</button>
  <button md-menu-item (click)="duplicate()"><md-icon class="mr-2">content_copy</md-icon>Copy</button>
</md-menu>
