<button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>

</button>
<md-menu #menu="mdMenu">
  <button md-menu-item>
    <md-icon>person</md-icon>
    <span>Profile</span>
  </button>
  <button md-menu-item disabled>
    <md-icon>voicemail</md-icon>
    <span>Check voicemail</span>
  </button>
  <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
  <button md-menu-item (click)="logout()">
    <md-icon>notifications_off</md-icon>
    <span>Logout</span>
  </button>
</md-menu>

