@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$main-app-primary: mat-palette($mat-deep-purple);
$main-app-accent:  mat-palette($mat-blue, 500);
$main-app-primary-light: map-get($mat-deep-purple, A200);

// The warn palette is optional (defaults to red).
$main-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$main-app-theme: mat-light-theme($main-app-primary, $main-app-accent, $main-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($main-app-theme);
